streamlit
gradio
langchain
langchain-core
langchain-community
langchain-groq
langgraph
groq
faiss-cpu
sentence-transformers
pandas
numpy
scikit-learn
xgboost
joblib
plotly
matplotlib
python-dotenv
pymongo
fastapi
uvicorn
pypdf
